not-to-release/d+s
not-to-release/d+s-nt
not-to-release/UD_Dadegan_feat
not-to-release/UD_Dadegan-nt
not-to-release/parser_data
Universal\ Dependency\ Dadegan
*multi*
*.xml
*.pyc
*.iml
.idea
not-to-release/Persian_Dependency_Treebank_(PerDT)_V1.1.1/.DS_Store
.DS_Store
not-to-release/Universal_Dadegan
not-to-release/Universal_Dadegan_with_DepRels

